@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
## Colors

### Primary

- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 0%)
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%)

### Neutral
*/
header {
  background: url("../img/mobile/image-hero.jpg") center/cover no-repeat;
  height: 97vh;
  color: white;
  font-family: Josefin Sans;
}
header .mobileNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10% 6%;
}
header .mobileNav h1 {
  font-weight: 600;
  font-size: 3.5vh;
}
header .mobileNav img {
  height: 15px;
}
header .desktopNav {
  display: none;
}
header .heroSection {
  border: 2px solid white;
  margin: 34% 6% 0% 6%;
  padding: 20% 0 3% 0;
}
header .heroSection h2 {
  font-weight: lighter;
  font-size: 6vh;
  margin: -15% 8% 0 7%;
}

.vr img {
  width: 88%;
  margin: 26% 6% 10% 6%;
}
.vr .vrText {
  position: static;
  width: 100%;
}
.vr .vrText h3 {
  text-align: center;
  font-family: Josefin Sans;
  font-weight: lighter;
  font-size: 5vh;
}
.vr .vrText p {
  font-family: Alata;
  text-align: center;
  margin: 3% 7% 25%;
  line-height: 3.5vh;
  color: dimgray;
}
.vr #desktopVr {
  display: none;
}
.vr #mobileVr {
  display: block;
}

.creations h4 {
  text-align: center;
  font-family: Josefin Sans;
  font-size: 5vh;
  font-weight: lighter;
  padding: 1% 0 8% 0;
}
.creations .gridSectionMobile div {
  margin: 6% 6%;
  padding: 14% 0 5%;
}
.creations .gridSectionMobile div p {
  color: white;
  font-family: Josefin Sans;
  margin: 0 0 0% 6%;
  width: 50%;
  font-weight: lighter;
  font-size: 4.5vh;
}

.button {
  text-align: center;
  margin: 8% 0 25% 0;
}
.button button {
  padding: 2.5% 10%;
  background: none;
  border: 2px solid dimgray;
  letter-spacing: 5px;
  font-family: Alata;
}

footer {
  background: black;
  color: white;
  text-align: center;
}
footer h5 {
  padding: 14% 0 7%;
  font-size: 4vh;
  font-family: Josefin Sans;
}
footer nav ul {
  padding: 0 0 10%;
}
footer nav ul li {
  line-height: 6vh;
  font-family: Alata;
}
footer .socialMedia img {
  margin: 0 6px;
}
footer p {
  padding: 4% 0 16%;
  color: dimgray;
  font-family: Alata;
  font-size: 2.2vh;
}

.deep {
  background: url("../img/mobile/image-deep-earth.jpg") center/cover no-repeat;
}

.arcade {
  background: url("../img/mobile/image-night-arcade.jpg") center/cover no-repeat;
}

.soccer {
  background: url("../img/mobile/image-soccer-team.jpg") center/cover no-repeat;
}

.theGrid {
  background: url("../img/mobile/image-grid.jpg") center/cover no-repeat;
}

.above {
  background: url("../img/mobile/image-from-above.jpg") center/cover no-repeat;
}

.borealis {
  background: url("../img/mobile/image-pocket-borealis.jpg") center/cover no-repeat;
}

.curiosity {
  background: url("../img/mobile/image-curiosity.jpg") center/cover no-repeat;
}

.fisheye {
  background: url("../img/mobile/image-fisheye.jpg") center/cover no-repeat;
}

#seeAllButton {
  display: none;
}

.gridSectionDesktop {
  display: none;
}

#desktopFooter {
  display: none;
}

@media screen and (min-width: 1440px) {
  header {
    background: url("../img/desktop/image-hero.jpg") center/cover no-repeat;
    height: 85vh;
  }
  header .mobileNav {
    display: none;
  }
  header .desktopNav {
    display: flex;
    justify-content: space-between;
    padding: 4.5% 5% 0 11%;
    font-size: 3vh;
  }
  header .desktopNav ul {
    list-style-type: none;
    display: flex;
    margin-right: 80px;
  }
  header .desktopNav ul li {
    margin-left: 30px;
    font-size: 2vh;
  }
  header .desktopNav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  header .heroSection {
    border: 2px solid white;
    margin: 8% 43% 0 11%;
    padding: 0 0 8% 0;
  }
  header .heroSection h2 {
    font-weight: lighter;
    font-size: 8vh;
    margin: 7% 10% -12% 7%;
  }

  .vr {
    position: relative;
  }
  .vr img {
    margin: 0;
    width: 100%;
  }
  .vr #mobileVr {
    display: none;
  }
  .vr #desktopVr {
    width: 50%;
    margin: 11.5% 0 0 12%;
    display: block;
  }
  .vr .vrText {
    width: 46%;
    text-align: left;
    position: absolute;
    background: white;
    bottom: -110px;
    right: 30px;
    padding: 6.5% 1%;
  }
  .vr .vrText h3 {
    text-align: left;
    font-family: Josefin Sans;
    font-weight: lighter;
    font-size: 6.2vh;
    margin: 0 2% 5% 11%;
  }
  .vr .vrText p {
    font-family: Alata;
    text-align: left;
    margin: -1% 15% 0 11%;
    line-height: 3.8vh;
    color: dimgray;
  }

  .creations {
    margin: 12% 12% 0;
    display: flex;
    justify-content: space-between;
  }
  .creations h4 {
    font-size: 6vh;
  }
  .creations #seeAllButton {
    display: block;
    padding: 1% 4%;
    height: 45px;
    background: none;
    border: 2px solid dimgray;
    font-family: Alata;
    font-size: 2vh;
    letter-spacing: 5px;
  }
  .creations #seeAllButton:hover {
    cursor: pointer;
    background: black;
    color: white;
  }
  .creations .gridSectionMobile {
    display: none;
  }

  .button {
    display: none;
  }

  .deep {
    background: url("../img/desktop/image-deep-earth.jpg") center/cover no-repeat;
  }

  .arcade {
    background: url("../img/desktop/image-night-arcade.jpg") center/cover no-repeat;
  }

  .soccer {
    background: url("../img/desktop/image-soccer-team.jpg") center/cover no-repeat;
  }

  .theGrid {
    background: url("../img/desktop/image-grid.jpg") center/cover no-repeat;
  }

  .above {
    background: url("../img/desktop/image-from-above.jpg") center/cover no-repeat;
  }

  .borealis {
    background: url("../img/desktop/image-pocket-borealis.jpg") center/cover no-repeat;
  }

  .curiosity {
    background: url("../img/desktop/image-curiosity.jpg") center/cover no-repeat;
  }

  .fisheye {
    background: url("../img/desktop/image-fisheye.jpg") center/cover no-repeat;
  }

  .gridSectionDesktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2% 12%;
    gap: 35px;
    padding: 0 0 10% 0;
  }
  .gridSectionDesktop div {
    display: flex;
    align-items: flex-end;
    height: 475px;
  }
  .gridSectionDesktop div:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .gridSectionDesktop div:hover p {
    color: black;
    opacity: 1;
  }
  .gridSectionDesktop div p {
    margin: 0 30% 15% 12%;
    font-family: Josefin Sans;
    color: white;
    font-weight: lighter;
    font-size: 3.5vh;
  }

  #mobileFooter {
    display: none;
  }

  #desktopFooter {
    display: block;
  }
  #desktopFooter .upperFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 10% 1%;
  }
  #desktopFooter .upperFooter h5 {
    padding: 0;
  }
  #desktopFooter .upperFooter .socialMedia img:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
  }
  #desktopFooter .lowerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 3% 7%;
  }
  #desktopFooter .lowerFooter nav ul {
    display: flex;
    padding: 0;
    list-style: none;
  }
  #desktopFooter .lowerFooter nav ul li {
    margin-left: 40px;
  }
  #desktopFooter .lowerFooter nav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  #desktopFooter .lowerFooter p {
    padding: 0;
    color: dimgray;
    font-family: Alata;
    font-size: 2.2vh;
  }
}

/*# sourceMappingURL=style.css.map */
